@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
}

.dark {
  --bg-color: #0a0a0a;
}

body {
  background-color: var(--bg-color);
  @apply transition duration-500 w-screen min-h-svh m-0 p-0 overflow-x-hidden hidden;
}

button {
  touch-action: manipulation;
}
